
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
/* -------Header-----style-----Start-------- */
.header-container
{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #FFF7E2;
     padding: 20px;
     padding-bottom: 10px;    
}
.header-middle,.header-right
{
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.header-left img
{
    width: 259px; 
    margin-left: 100px;
}
.header-middle
{
    gap: 40px;
    margin-left:-200px;
    font-family: "Poppins", sans-serif;
}
.header-middle p
{
    color: #474747;
    font-size: 17px;
    font-weight:500;
    transition: all 0.2s;
}
.header-middle p:hover
{
    transform: scale(1.1);
}
.header-right
{
    gap: 15px;
    margin-right:130px;
    font-family: "Poppins", sans-serif;
}
.header-right .login
{ 
    color: #3c833e;
    background-color: transparent;
    border: 1px solid #3c833e;
    border-radius: 10px;
    padding: 10px 23px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}
.header-right .login:hover
{
    background-color: #3A643B;
    color: white;

}
.header-right .sign-up:hover{
    background-color: transparent;
    color: #3c833e;


}
.header-right .sign-up{
    border-radius: 10px;
    padding: 10px 35px;
    background-color: #3A643B;
    border: 1px solid #3A643B;
    font-size: 18px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;

}

/* -------Header-----style-----End-------- */


/* -------Body-----style-----Start-------- */

/* -------BodyProfile-----style-----Start-------- */
.body--split
{
     display: flex;
     gap: 25px;
}
.body-container1
{
   width: 81%;
   height: 250px;
   background:url('../src/Images/Banner1.png');
   background-size: cover;
   background-repeat: no-repeat;
   margin-left: 140px;
   margin-top: 55px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   position: relative;
   border: 2px solid #D8D8D8;
}
.small-container1
{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: #FFFBF2;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 50%;
}
.small-container1 .photo 
{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background:url('./Images/profile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -45px;
    position: absolute;
    border: 4px solid white;
    top: -35px;
    left: 25px;
    cursor: pointer;
}
.profile
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile .profile-text
{
    margin-left: 120px;
}
.profile .profile-text .para-1
{
   font-size: 19px;
   font-weight: 500;
   cursor: pointer;

}
.profile .profile-text .para-1 span
{
   position: relative;
}
.icon-poly
{
      position: absolute;
      color: rgba(46, 55, 164, 1);
      z-index: 1;
      top: 3px;
      left: 5px;
      font-size: 20px;
}
.icon-check
{    position: absolute;
     color: white;
     z-index: 2;
     font-size: 12px;
     top: 7px;
     left: 9px;
}
.profile .profile-text .para-2
{
     font-size: 15px;
     color: rgb(60, 131, 62);
     font-weight: 400;
     margin-top: 1px;
     cursor: pointer;

}
.profile .profile-text .para-3
{
    color: rgba(98, 98, 98, 1);
    font-size: 14px;
    margin-top: 7px;
    cursor: pointer;

}
.profile .profile-text .para-3 .star-icon
{
     color: orange;
     font-size: 13.6px;
     cursor: pointer;
}
.profile .profile-text .para-3 .star-icon:hover
{
    opacity: 0.8;
}
.small-container1 .follower-content
{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 70px;
}
.small-container1 .follower-content p
{
      font-size: 17px;
      font-weight: 500;
      color: rgb(60, 131, 62);
      line-height: 30px;
      cursor: pointer;
}
.small-container1 .follower-content p:hover
{
    color: rgb(34, 188, 40);
    
}
.small-container1 .follower-content .para-follow
{
     color: black;
     font-size: 19px;
}
.small-container1 .follower-content .para-follow:hover
{
    color: black;
}
.book-an-appoint p
{
    border-radius: 10px;
    padding: 13px 30px;
    background-color: #3A643B;
    border: 1px solid #3A643B;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;

}
.book-an-appoint p:hover
{
    background-color: transparent;
    color:  #3A643B;
}


/* -------BodyProfile-----style-----End-------- */



/* -------Bodyelft-----style-----Start-------- */
.body2
{
    margin-left: 140px;
    margin-top: 40px;
    width:39.5pc;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 18px;
}
.a-litle ,.i-specialize-in ,.concerns-i-treat,.My-WorkExperience,.Featured-review
{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     background: linear-gradient(270.04deg, #f1faf1 0.05%, #F4F7EC 99.98%);
     padding: 10px 25px;
     border-radius: 18px 18px 0px 0px;
}
.a-litle p , .i-specialize-in p ,.concerns-i-treat p,.My-WorkExperience p,.Featured-review p
{
    font-size: 22px;
    color: rgba(49, 49, 49, 1);
}
.a-litle button 
{
    border: 1px solid rgba(58, 100, 59, 1);
    outline: none;
    background: transparent;
    padding: 5px 21px 5px 21px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    transition: all 0.3s;

}
.a-litle button:hover
{
    background-color:  rgba(195, 239, 195, 0.877);
}
.a-litle button p
{
    font-size: 17px;
}
.a-litle button .add-icon
{
   font-size: 20px;
}
.body2-text
{
      padding: 30px 25px;
}
.body2-text p
{
     font-size: 15px;
     color: rgba(51, 53, 72, 0.5);
     line-height: 27px;
     width: 520px;
     font-weight: 500;
}
.body2-text a
{
     display: flex;
     align-items: center;
     text-decoration:none;
     gap: 10px;
     margin-top: 15px;
     width: 121%;
}
.body2-text a hr
{
   width: 437px;
}
.body2-text a p
{
     font-size: 15px;
     color: rgba(43, 43, 43, 1);
     text-decoration-line: underline;
     cursor: pointer;
}
.body2-text a p:hover
{
    color:  rgba(58, 100, 59, 1)x;
}
.body2-language
{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left:25px;
    gap: 25px;
}
.para-of-lang
{
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}
.body2-language span
{
    background: rgba(46, 55, 164, 0.04);
    color: rgba(80, 80, 80, 1);
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 16px;
    cursor: pointer;
}
.body2-language span:hover
{
    background: rgba(46, 56, 164, 0.158);
}

.body2-icons
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 35px 25px;

}
.body2-icons div
{
       background: rgba(247, 247, 252, 1);
       color:  rgba(58, 100, 59, 1);
       width: 40px;
       height: 40px;
       border: 1px solid rgba(142, 142, 142, 1);
       border-radius: 50%;
       cursor: pointer;
       transition: all 0.3s;
}
.body2-icons div:hover
{
    background-color: rgba(174, 228, 176, 0.59);
    transform: scale(1.1);

}
.body2-icons div .--icons
{
      font-size: 21px;
      margin: 8px 8px;
}

/* ---body2--second----- */
.second-all-box
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 35px 25px;
}
.box 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.box img
{
    width: 90px;
    background-color: rgba(255, 252, 242, 1);
    padding: 4px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 10px;
    transition: all .3s;
    cursor:pointer;
}
.box img:hover
{
    transform: scale(1.1);
}
.box p
{
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}
.concerns-text
{
   display: grid;
   max-width: 100%;
    grid-template-columns:  repeat(4,auto);
   margin: 30px 25px;
   row-gap: 20px;

}
.concerns-text p
{
    background: rgba(46, 55, 164, 0.04);
    color:  rgb(67, 114, 68);
    font-weight: 500;
    font-size: 14px;
    padding: 7px 12px;
    border-radius: 16px;
    width: fit-content;
    cursor: pointer;
}
.concerns-text p:hover
{
    background: rgba(46, 56, 164, 0.106);

}
.concerns-text span
{
    border:2px solid rgba(17, 17, 17, 0.144);
    color:  rgb(67, 114, 68);
    font-weight: 500;
    font-size: 14px;
    padding: 7px 19px;
    border-radius: 16px;
    width: fit-content;
}
.body2-four h5
{
     padding: 30px 25px 20px 25px;
     font-size: 18px;
     color:  rgb(67, 114, 68);
}
.body2-four div hr
{
    margin-left: 25px;
    width: 65%;
}
.under-down-all
{
    margin:25px 25px 35px 25px;
}
.medical-clinic
{
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin-bottom: 25px;
}
.review
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews
{
    width: 90%;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 17px;
    padding: 13px  35px 22px 35px;
    margin: 25px;
}
.clinic ,.review-photo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.clinic .homework-icon
{
    color: rgba(46, 55, 164, 1);
    font-size: 22px;
    background-color: rgb(242, 242, 255);
    border-radius: 6px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    padding: 10px;
}
.clinic .homework-icon:hover
{
    background-color: rgb(231, 231, 255);
}
.medical-clinic p
{
    font-size: 15px;
    font-weight: 500;
    color: rgba(51, 53, 72, 1);
    cursor: pointer;
}
.review-photo .photo
{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: url('./Images/profile2.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -10px;
}
.review-down-text 
{
     margin-top: 12px;
}
.review-down-text .star-icon
{
    color: orange;
    font-size: 13.6px;
    cursor: pointer;
}
.review-down-text p
{
    font-size: 14px;
    margin-top: 2px;
}
.body2-five
{
    margin-bottom: 100px;
}

/* -------Bodyeleft-----style-----end-------- */




/* -------Bodyeright-----style-----Start-------- */
.bodyright-container
{
    border: 1px solid rgba(220, 220, 220, 1);
    width:36pc;
    border-radius: 20px;
    margin-top: 40px;
}
.appointment-fee
{
     display: flex;
     justify-content: space-between;
     align-items: center;
    border: 1px solid rgba(220, 220, 220, 1);
    padding: 10px 25px;
     margin: 30px 20px;
     margin-bottom: 40px;
    border-radius: 10px;
}
.appointment-fee p
{
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}
.select-your-session p
{
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    position: relative;
    cursor: pointer;  
}
.select-your-session hr
{
      position: absolute;
      width: 225px;
      top:15px;
      left: 19pc; 
}
.session-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;
}
.session-box .sbox
{
      border: 1px solid rgba(229, 229, 229, 1);
      border-radius: 10px;
      padding: 14px 45px;
      cursor: pointer;
}
.session-box .sbox:hover
{
    background-color: rgba(242, 251, 242, 0.869);
}

.session-box .sbox div
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.session-box .sbox p
{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
}
.session-box .sbox .sbox-min
{
    font-size: 17px;
    font-weight:300;
    color: rgba(96, 96, 96, 1);
}
.sbox .icon-circle,.sbox .icon-check2
{
    display: none;
}
.active .icon-circle
{
      color:rgba(58, 100, 59, 1);
      z-index: 1;
      font-size: 20px;
      margin-left: 6px;
      display: block;
}
.active .icon-check2
{   
     color: rgb(255, 255, 255);
     position:absolute;
     z-index: 2;
     font-size: 12px; 
     margin-left: 6px;
     display: block;
} 
.session-box .active
{
     border: 1px solid rgba(58, 100, 59, 1);
      border-radius: 10px;
      padding: 14px 45px;
      background-color: rgba(242, 251, 242, 1);
}
.session-box .active p
{
    color:rgba(58, 100, 59, 1);
}
.pick-time-slot
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pick-time-slot p
{
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    position: relative;
}
.pick-time-slot hr
{
      position: absolute;
      width: 300px;
      top:15px;
      left: 11pc; 
}
.pick-time-slot button
{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
}
.pick-time-slot button input
{
    position: absolute;
    width: 150px;
    font-size: 25px;
    left: -110px;
    opacity: 0;
}
.icon-calender
{
    font-size: 42px;
    border: 1px solid rgb(202, 200, 200);
    padding: 8px;
    border-radius: 50%;
    margin-right: 20px;   
    z-index: 2; 
}
.pick-time-box
{
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    margin: 30px 20px;
    border: 1px solid rgba(220, 220, 220, 1);
    padding: 20px;
    border-radius: 21px;
    position: relative;
    
}
.pick-time-box .pbox:hover
{
    background-color: rgba(242, 251, 242, 0.869);
}
.pick-time-box .pbox
{
      border: 1px solid rgba(229, 229, 229, 1);
      border-radius: 10px;
      padding: 12px;
      cursor: pointer;
}
.slick-slide > div {
        margin: 0 10px;
    }
.slider-container
{
    margin: 0px 20px;
}

.pick-time-box .active
{
    border: 1px solid rgba(58, 100, 59, 1);
    border-radius: 10px;
    background-color: rgba(242, 251, 242, 1);
}
.pick-time-box .active p
{
    color:rgba(58, 100, 59, 1);
}
.pick-time-box .pbox p
{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: black;
}
.pick-time-box .pbox  .pick-slot-txt
{
    font-size: 14px;
    font-weight:500;
    color: rgba(96, 96, 96, 1);
}
.icon-sider
{
    font-size:22px;
    cursor: pointer;
    color: rgba(128, 128, 128, 1);
    position: absolute;
}
.pick-time-box .left-side
{
   top: 50px;
   z-index: 33;
}

.pick-time-box .right-side
{
    right: 20px;
    top: 50px;
   z-index: 33;

}
.me-headline
{   
    font-size: 19px;
    font-weight: 500;
    margin-left: 55px;
}
.mrng , .evng 
{
    display: grid;
    grid-template-columns: repeat(4,20%);
    margin-left: 35px;
    margin-top: 11px;
    row-gap: 15px;
    column-gap: 10px;
}
.evening
{
    margin: 30px 0px;
}
.mrng p ,.evng p
{
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 22px;
    font-size: 15px;
    padding: 20px;
    cursor: pointer;

}

.mrng p:hover ,.evng p:hover
{
    background-color: rgba(242, 251, 242, 0.869);
    border-radius: 22px;
}
.Morning-evening .active-3
{
    background-color: rgba(58, 100, 59, 1);
    color: white;
    border-radius: 22px;
}
.Morning-evening .active-3 p:hover
{
    background-color: rgba(58, 100, 59, 1);
    color: white;
    border-radius: 22px;
}
.makes-an-appointment p
{
    border-radius: 10px;
    padding: 13px 30px;
    background-color: #3A643B;
    border: 1px solid #3A643B;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 40px 50px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
}
.makes-an-appointment p:hover
{
    background-color: transparent;
    color: #3A643B;
}

/* ------find---doctor---page---start--- */
.find-dr-banner
{
    background: rgba(234, 242, 234, 1);
    height: 221px;
    position: relative;
}
.banner-cirle
{
    background-color: rgba(207, 235, 207, 0.5);
    width: 200px;
    height: 100px;
    border-radius: 100px 100px 0 0;
    position: absolute;
    z-index: 1;

}
.circle1
{
    top: 0;
    left: 135px;
    z-index: 1;
    transform: rotate(-180deg);
}
.circle2
{
    top: 0px;
    transform: rotate(-180deg);
    left: 1199px;
    width: 180px;
    height: 90px;
    z-index: 1;

}
.circle3
{
    bottom: 0px;
    left: 264px;
    z-index: 1;

}
.circle4
{
    
    bottom: 0px;
    left: 1127px;
    z-index: 1;

}
.banner2-text .b-txt
{
    font-size: 30px;
    text-align: center;
    font-weight: 500;  
    margin-top: 40px; 
    letter-spacing: 2.5px;
    
}
.banner2-text 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.banner2-text  .input-flex
{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    z-index: 2;
}
.drop-down div
{
    display: flex;
    align-items: center;   
}
.drop-down div p
{
    margin-left: 30px;
}
.drop-down
{
    width: 200px;
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid rgba(212, 212, 212, 1);
    border-radius: 8px;
    padding: 10px;
    user-select: none;
    position: relative;
}
.drop-down .icon-location
{
    color: rgba(58, 100, 59, 1);
    font-size: 23px;
    position: absolute;
    left:8px;
}
.icon-down-arrow1
{
    position: absolute;
    right: 15px;
}

.drop-down-content
{
      background-color: white;
      padding: 5px 10px;
      margin: 10px 8px;
      border-radius: 5px;
      border: 1px solid rgba(212, 212, 212, 1);
      height: 160px;
      overflow:scroll;
      z-index: 2;
      overflow-x: hidden;

}
::-webkit-scrollbar
{
    width: 4px;
}
::-webkit-scrollbar-track
{
    background-color: rgba(212, 212, 212, 1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;



}
::-webkit-scrollbar-thumb
{
    background-color: rgb(124, 124, 124);
    border-radius: 20px;

}

.drop-down-content p
{
    width: 100%;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}
.drop-down-content p:hover
{
    background-color: rgb(244, 244, 244);
    border-radius: 6px;

}
.icon-down-arrow
{
    font-size: 20px;
}
.drop-down p
{
    font-size: 15px;
    color: rgba(118, 118, 118, 1);
}
.input-box
{
    position: relative;
}
.input-box input
{
    outline: none;
    border: none;
    background: transparent;
    width: 500px;
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid rgba(212, 212, 212, 1);
    border-radius: 8px;
    padding: 10px 15px;
    letter-spacing: 1.5px;
}
.input-box .icon-right-arrow
{
    position: absolute;
    top: 11px;
    right: 15px;
}
.filters
{
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(237, 237, 237, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 13px;
    padding-top: 20px;
    z-index:1;
}
.filters div:hover
{
    background-color: rgb(227, 226, 226);
    
}
.filters div
{
    background-color: rgba(243, 243, 243, 1);
    border-radius: 7px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 147px;
    cursor: pointer;
    color: rgba(88, 88, 88, 1);
    font-weight: 500;

}
.remoe-items
{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 15px;
    margin-right: 160px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.remoe-items div
{
    background-color: rgba(234, 242, 234, 1);
    border-radius: 31px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}
.remoe-items .remove
{
    display: none;
}
.remoe-items div:hover
{
    background-color: rgb(229, 251, 229);

}
.icon-cross
{
    color: rgba(131, 131, 131, 1);
    font-size: 22px;
}
.icon-cross:hover
{
    color: rgba(255, 0, 0, 0.78);
}
.card-contaier
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin-bottom: 10pc;
}
.card-contaier .card
{
     background-color: rgba(255, 247, 226, 1);
     border: 1px solid rgba(227, 227, 227, 1);
     box-shadow: 0px 4px 12.5px 0px rgba(0, 0, 0, 0.07);
     width: 346px;
     height: auto;
     border-radius: 30px;
}
.card .card-photo
{
   width: 150px;
   height: 150px;
   background: url("./Images/profile3.png");
   background-size: cover;
   border-radius: 50%;
   background-position: -30px;
   position: relative;
   margin: 30px 95px;
}
.card .card-photo div
{
     background: linear-gradient(180deg, #0B0B0B 0%, rgba(11, 11, 11, 0.79) 100%);
     color: white;
     font-weight: 500;
     width: fit-content;
     border-radius: 17px;
     padding: 4px 12px;
     position: absolute;
     bottom: -8px;
     left: 45px;
}
.card .card-photo .star-icon
{
    margin-left: 5px;
    color: yellow;  
}
.card-txt .profile-name
{
  font-size: 32px;
  margin-left: -17px;
  font-weight: 500;
  text-align: center;
}
.card-subtxt
{
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.card-subtxt div
{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.card-subtxt div img
{
    width: 18px;
}
.card-subtxt div p
{
    font-size: 16px;
    color: rgba(100, 102, 101, 1);
    margin-left: 10px;
}
.card-flex1
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-flex1 .consultation
{
    background: transparent;
    border: 1px solid rgba(58, 100, 59, 0.39);
    border-radius: 10px;
    padding: 9px 3px;
}
.card-flex1 .consultation p
{
    text-align: center;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 25px;
}
.cons-rate
{
  color:rgb(71, 131, 72);
}
.view-profile
{
    border-radius:8px ;
    background: white;
    color: rgba(58, 100, 59, 1);
    font-weight: 500;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(58, 100, 59, 1);
    margin: 10px 25px;
    margin-top: 20px;
}
.Book-a-cons
{
    border-radius:8px ;
    background: rgba(58, 100, 59, 1);;
    color: white;
    font-weight: 500;
    padding: 16px;
    text-align: center;
    margin: 10px 25px;
    margin-bottom:30px;
}